@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:200,400,600|Source+Serif+Pro&display=swap');

@import url('https://fonts.googleapis.com/css?family=Barlow:200,400,600&display=swap');

body {
  background-color: #66003A;
  color: #F0CE78;
  font-family: 'Source Serif Pro', serif;
}

main {
  width: 70vw;
  margin: 0 auto;
}

header {
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.name-wrapper {
  background-image: url('./images/gold-bars.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
}

h1 {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  letter-spacing: 8px;
  margin: 0;
}

h1.and {
  display: block;
  font-weight: 700;
  font-size: 1em;
  margin: 30px 0;
  padding: 0;
}

nav {
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin-top: 60px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight:100;
}

nav .item {
  cursor: pointer;
  font-weight: 400;
}

nav .item:hover {
  font-weight: 700;
}

/* nav .item01 {
  border-left: 1px solid;
  padding-left: 50px;
}

nav .item04 {
  border-right: 1px solid;
  padding-right: 50px;
} */

.hero-img-wrapper {
  margin-top: 2em;
  height: 80vh;
  width: 100%;
  background-image: url('./images/Proposal Cedar Island Myles.png');
  background-repeat: no-repeat;
  background-size: cover;
  outline: 6px #fff solid;
  outline-offset: -6px;
}

/*======================
    DATE Styles
======================*/

h2, h3 {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.date-wrapper {
  margin: 50px auto;
}

.date-wrapper h2 {
  text-align: center;
}

/* h2.join-us {
  font-weight: 400;
  font-size: 1.5rem;
} */

h2.date {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

h2.time, h2.reception, h2.join-us {
  font-weight: 200;
}

/*====================
    Gold Lace
====================*/

.gold-lace-wrapper {
  height: 30vh;
  width: 100%;
  background-image: url('./images/GoldLaceTexture3-rotate.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/*=====================
    Perfmormance styles
======================*/

.performance-wrapper {
  width: 70%;
  margin: 0 auto;
}

h3.performance-headline {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 2rem;
}

p.performance {
  text-align: justify;
}

/*=====================
    FORM STYLES
=====================*/

#mc_embed_signup{
  clear: left;
  font: 14px Helvetica,Arial,sans-serif;
  color: #F0CE78;
  display: flex;
  justify-content: center;
}

#mc_embed_signup_scroll {
  width: 40vw;
}

input {
  background-color: #F0CE78;
  border: 1px solid #000;
}

input[type=radio] {
  opacity: 0;
  position: fixed;
  width: 0;
}

#mc_embed_signup .mc-field-group.input-group label {
  display: inline-block;
  background-color: #F0CE78;
  padding: 10px 20px;
  color: #66003A;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #B3873B;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
  /* transition: font-weight .5s; */
}

#mc_embed_signup .mc-field-group.input-group input[type="radio"]:checked + label {
    /* background-color:#bfb; */
    background-color: #FFEBB8;
    border-color: #F0CE78;
}

#mc_embed_signup .mc-field-group.input-group input[type="radio"]:focus + label {
    border: 2px dashed #F0CE78;
}

#mc_embed_signup .mc-field-group.input-group label:hover {
  background-color: #FFE6A6;
}

.yes, .yes-joy, .no, .no-regret {
  text-align: center;
  width: 200px;
}

#mc-embedded-subscribe.button {
  display: block;
  width: 50%;
  margin: 0 auto;
  background-color: #F0CE78;
  border: none;
  padding: 15px 0;
  color: #66003A;
  border-radius: 5px;
  box-shadow: 0 6px #B3873B;
  position: relative;
  cursor: pointer;
  height: auto;
  line-height: normal;
  transition: all .2s;
}

#mc-embedded-subscribe.button:hover {
  box-shadow: 0 4px #B3873B;
  background-color: #F0CE78;
  top: 2px;
}

#mc-embedded-subscribe.button:active {
  top: 6px;
  box-shadow: 0 0;
}

/*=================
    LODGING styles
===================*/
.lodging-wrapper {
  width: 70%;
  margin: 100px auto;
}

h3.lodging-headline {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 2rem;
}

a.block-link {
  color: #66003A;
  text-decoration: none;
  display: block;
  margin: 50px auto;
  width: 30%;
  height: auto;
  text-align: center;
  background-color: #F0CE78;
  box-shadow: 0 6px #B3873B;
  border-radius: 5px;
  padding: 1px 5px;
}

a.block-link:hover {
  text-decoration: underline;
  font-weight: 700;
  background-color: #F0CE78;
}

.lodging-address {
  font-weight: 700;
  text-align: center;
  line-height: 1.5;
  margin-top: 40px;
}

iframe {
  display: block;
  margin: 0 auto;
}

/*================================
    responsive iframe
================================*/

  .resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 100%;
    outline-style: solid;
    outline-color: #F0CE78;
    outline-width: 4px;
    /* outline-offset: -4px; */
  }

  .resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

/*===================
    Footer Styles
====================*/

footer {
  margin: 100px auto;
  text-align: center;
}

@media screen and (max-width: 426px) {
  main {
    width: 90vw;
  }

  h1 {
    font-size: 2.5rem;
    letter-spacing: 5px;
  }

  h1.and {
    font-size: 1em;
    margin: 30px 0;
    padding: 0;
  }

  .name-wrapper {
    background-size: 155%;
  }

  .performance-wrapper {
    width: 100%;
  }

  #mc_embed_signup form {
    width: 100%;
  }

  #mc_embed_signup_scroll {
    width: auto;
  }

  #mc_embed_signup_scroll h2 {
    font-family: 'Barlow Semi Condensed', sans-serif;
  }

  .lodging-wrapper {
    width: 100%;
  }

  .lodging-address {
    margin: 25px auto;
  }



}
