@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:200,400,600|Source+Serif+Pro&display=swap');

@import url('https://fonts.googleapis.com/css?family=Barlow:200,400,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ballet&display=swap');

a {
  color: inherit;
  box-sizing: border-box;
}

body {
  background-color: #520022;
  color: #F0CE78;
  font-family: 'Source Serif Pro', serif;
  overflow-x: hidden;
}

main {
  width: 70vw;
  margin: 0 auto;
}

header {
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.name-wrapper {
  background-image: url('./images/gold-bars.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
}

h1 {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  letter-spacing: 8px;
  margin: 0;
}

h1.and {
  display: block;
  font-weight: 700;
  font-size: 1em;
  margin: 30px 0;
  padding: 0;
}

nav .nav-wrapper, nav .nav-wrapper-mobile {
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin-top: 60px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #5c1432;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight:100;
}

nav .nav-wrapper-mobile {
  display: none;
}

nav .menu-text {
  display: none;
}

.item {
  cursor: pointer;
  flex-grow: 1;
  width: 12rem;
  padding: .5rem 0;
  font-weight: 300;
  font-size: 20px;
}

.item01, .item02, .item03 {
  border-right: 1px solid #77541f;
}

nav .item:hover {
  font-weight: 700;
  background-color: rgba(150, 150, 150, .2);
}

.hero-img-wrapper {
  margin-top: 2em;
  margin-bottom: 3rem;
  height: 80vh;
  width: 100%;
  background-image: url('./images/Proposal Cedar Island Myles.png');
  background-repeat: no-repeat;
  background-size: cover;
  outline: 6px #fff solid;
  outline-offset: -6px;
}

/*====================
    Gold Lace
====================*/

.gold-lace-wrapper {
  margin-top: 1rem;
  height: 30vh;
  width: 100%;
  background-image: url('./images/GoldLaceTexture3-rotate.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: rotate(0.5turn);
}

.gold-lace-02 {
  transform: rotate(1turn);
}

/*======================
    DATE Styles
======================*/

h2, h3, p {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.date-wrapper {
  margin: 0 auto;
  width: 50%;
}

.date-wrapper h2 {
  text-align: center;
  margin: 0;
}

h2.date {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: 3rem;
  font-family: 'Ballet', cursive;
  /* margin-bottom: 7rem; */
}

h2.ceremony-time, h2.reception, h2.join-us {
  font-weight: 200;
}

/*======================
    CARD Styles
======================*/

.card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.card-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 400px;
  height: 250px;
  /* padding: 10px;
  outline: 2px #fff solid;
  outline-offset: -2px; */
}

.card-text {
  font-size: 20px;
}

/*======================
    CEREMONY Styles
======================*/

.ceremony-wrapper {
  flex-direction: row;
  margin-bottom: 7rem;
}

.ceremony-image {
  background-image: url("./images/CVHR-logo.png");
  
}

.ceremony-link {
  font-weight: 300;
}

/*======================
    RECEPTION Styles
======================*/

.reception-image {
  background-image: url("./images/zehnders-logo.png");
  background-color: #e6e6e6;
}



.reception-details, .reception-time {
  font-weight: 300;
}

/*======================
    FILIGREE Styles
======================*/

.filigree-01 {
  width: 10rem;
  display: block;
  margin: 4rem auto;
}

/*=====================
    LODGING STYLES
=====================*/

.lodging-wrapper {
  margin-top: 3rem;
}

.hotel-heading {
  text-align: center;
  font-size: 2.5rem;
}

.hotel-information {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 300;
  font-size: 2rem;
}

span.bold {
  font-weight: 700;
}

/*=====================
    FORM STYLES
=====================*/

/*FLEX STYLES*/
.name-flex, .contact-flex {
  display: flex;
  justify-content: center;
}

#mc_embed_signup .mc-field-group {
  width: initial;
  margin: 0 13px;
}

#mc_embed_signup{
  clear: left;
  font: 14px Helvetica,Arial,sans-serif;
  color: #F0CE78;
  background-color: #520022;
  display: flex;
  justify-content: center;
}

.input-group > ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#mc_embed_signup .mc-field-group.input-group ul li {
  margin-right: 1rem;
}

#mc_embed_signup_scroll {
  width: 50vw;
}

#mc_embed_signup_scroll > h2 {
  font-size: 2.5rem;
  text-align: center;
}

input {
  background-color: #F0CE78;
  border: 1px solid #000;
}

input[type=radio] {
  opacity: 0;
  position: fixed;
  width: 0;
}

#mc_embed_signup_scroll > div.optionalParent > div {
  display: block;
}

#mc_embed_signup .mc-field-group.input-group label {
  display: inline-block;
  background-color: #F0CE78;
  padding: 10px 20px;
  color: #66003A;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #B3873B;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
  /* transition: font-weight .5s; */
}

#mc_embed_signup .mc-field-group.input-group input[type="radio"]:checked + label {
    /* background-color:#bfb; */
    background-color: #FFEBB8;
    border-color: #F0CE78;
}

#mc_embed_signup .mc-field-group.input-group input[type="radio"]:focus + label {
    border: 2px dashed #F0CE78;
}

#mc_embed_signup .mc-field-group.input-group label:hover {
  background-color: #FFE6A6;
}

.yes, .yes-joy, .no, .no-regret {
  text-align: center;
  width: 200px;
}

#mc-embedded-subscribe.button {
  display: block;
  width: 50%;
  margin: 10px auto;
  background-color: #F0CE78;
  border: none;
  padding: 15px 0;
  color: #66003A;
  border-radius: 5px;
  box-shadow: 0 6px #B3873B;
  position: relative;
  cursor: pointer;
  height: auto;
  line-height: normal;
  transition: all .2s;
}

#mc-embedded-subscribe.button:hover {
  box-shadow: 0 4px #B3873B;
  background-color: #F0CE78;
  top: 2px;
}

#mc-embedded-subscribe.button:active {
  top: 6px;
  box-shadow: 0 0;
}

.brandingLogo {
  display: none;
}

/*===================
    Footer Styles
====================*/

.thank-you {
  text-align: center;
  margin-top: 3rem;
}

/*===================
    Footer Styles
====================*/

footer {
  margin: 100px auto;
  width: 90%;
  text-align: center;
}

.scroll-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 40px;
  font-size: 25px;
  background-color: rgba(150,150,150,.3);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

.scroll-top:hover {
  background-color: rgba(150,150,150,.7);
}

.scroll-top > i {
  color: rgba(240, 206, 120, 0.5);
}

/*============================
    media query
=============================*/

@media screen and (max-width: 426px) {
  nav {
    width: 70%;
  }
}

@media screen and (max-width: 769px) {

  body {
    margin: 0;
  }

  main {
    width: 90%;
  }

  .hero-img-wrapper {
    height: 55vh;
  }

  /*============================
    NAV styles
=============================*/

nav {
  width: 70%;
  margin-top: 2rem;
  flex-direction: column;
  background-color: #5c1432;
}

nav .nav-wrapper {
  display: none;
}

  nav .menu-text {
    font-size:  20px;
    margin: 0;
    display:block;
    width: 100%;
    cursor: pointer;
    padding: 0.5rem 0;
    border: 1px solid #77541f;
  }

  nav .nav-wrapper-mobile {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    display: none;
  }

  .item {
    display: block;
    width: 100%;
  }

  .item01, .item02, .item03 {
    border: none;
    border-bottom: 1px solid #77541f;
  }

/*============================
    General styles
=============================*/

  h1 {
    font-size: 2.5rem;
    letter-spacing: 5px;
  }

  h1.and {
    font-size: 1em;
    margin: 30px 0;
    padding: 0;
  }

  h2.date {
    line-height: 4rem;
    margin: 0;
  }

  .gold-lace-wrapper {
    height: 200px;
    margin: 0;
  }

  .card-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .card-image {
    width: 100%;
  }

  .name-wrapper {
    background-size: 155%;
  }

  .date-wrapper {
    width: 100%;
    margin: 1rem 0;
  }

  .hotel-details {
    font-size: 18px;
  }

  #mc_embed_signup form {
    width: 100%;
    padding: 0;
  }

  #mc_embed_signup_scroll {
    width: auto;
  }

  #mc_embed_signup_scroll h2 {
    font-family: 'Barlow Semi Condensed', sans-serif;
  }

  #mc-embedded-subscribe.button {
    width: 65%;
  }

}
